<div class="dogsittings-banner">
  <div class="container">
    <div class="search-label">
      <h1><i class="fa-solid fa-paw"></i> Look for a dogsitter near you! <i class="fa-solid fa-paw"></i></h1>
      <%= form_tag dogsittings_path, class: "dogsittings-search-form", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "dogsittings-search",
          placeholder: "Search location eg. Meguro, Tokyo"
        %>
      <%= submit_tag "Search", class: "button-main" %>
<% end %>
    </div>
  </div>
</div>




<% if @dogsittings.empty? %>
  <div class="no-results"><h1>There are currently no dogsitters in this location <i class="fa-regular fa-face-frown"></i></h1></div>
<% else %>
  <div class="container-small-profile">
    <div class="cards-small-profile">
      <% @dogsittings.each do |dogsitting| %>
        <div class="card-small-profile">
          <div class="gradient">
          </div>
          <div class="small-profile-img">
            <% if dogsitting.user.photo.attached? %>
              <img src="<%= cl_image_path dogsitting.user.photo.key %>" alt="user">
            <% else %>
              <img src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt="user">
            <% end %>
          </div>
          <div class="content-small-profile">
            <div class="top">
              <h1><%=dogsitting.user.first_name%> <%=dogsitting.user.last_name%></h1>
              <h2><%=dogsitting.location %></h2>
              <h2>¥<%=dogsitting.rate %>/hour</h2>
              <h2>Available on <%= dogsitting.day %></h2>
              <h2>On <%= dogsitting.availability %></h2>
            </div>
            <div class="bottom">
              <%= link_to "Show more information", dogsitting_path(dogsitting), class: "nav-link", class: "button-main" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class = "map" style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
  <% end %>
