
<div class="container pt-3">
<h1><%= link_to "Back To List", dogsittings_path, class:"button-secondary" %></h1>
<div class="container-smaller-profile">
  <div class="container-profile">
    <div class="card-profile">
      <div class="gradient">
        <div class="price">
          <h1><%= @dogsitting.user.first_name%> <%=  @dogsitting.user.last_name %></h1>
          <h2><%= @dogsitting.location %></h2>
          <h2>¥<%= @dogsitting.rate %>/hour</h2>
        </div>
      </div>
      <div class="profile-img">
        <% if @dogsitting.user.photo.attached? %>
          <img src="<%= cl_image_path @dogsitting.user.photo.key %>" alt="user">
        <% else %>
          <img src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt="user">
        <% end %>
      </div>
      <div class="content-profile">
      <div class="container-profile-contents">
        <p><%= @dogsitting.user.about_me %></p>
      </div>
        <div class="bottom">
          <h4>Availability:</h4>
          <h5><%= @dogsitting.availability %></h5>
        </div>
      </div>
    </div>


    <div class="profile-form-card">
      <h1>Add a Booking</h1>
      <%= simple_form_for [@dogsitting, @booking] do |f| %>
        <div class="row">
          <%= f.input :starts_at, html5: true %>
        </div>
        <div class="row">
          <%= f.input :ends_at, html5: true %>
        </div>
        <div class="text-center">
          <%= f.submit class: 'button-main' %>
        </div>
      <% end %>
       </div>
    </div>
  </div>
</div>
