
 <div class = "container-profile">
  <div class="profile-form-card">
  <h1>Add a Pet</h1>
  <%= simple_form_for @pet do |f| %>
    <div class="row">
      <%= f.input :name %>
    </div>
    <div class="row">
      <%= f.input :age %>
    </div>
    <div class="row">
      <%= f.input :breed %>
    </div>
    <div class="row">
      <%= f.input :size,
      collection: ["extra-small", "small", "medium", "large", "extra-large"] %>
    </div>
    <div class="row">
      <%= f.input :comments %>
    </div>
     <div class="row">
      <%= f.input :photo, as: :file %>
    </div>
    <div class="row">
      <%= f.submit class: 'button-main' %>
    </div>
  <% end %>
  <div class="row">
  <%= link_to "Go Back", profile_path, class: "mt-2 button-main" %>
  </div>
  </div>
</div>
