<div class="container">
<h1>Your bookings</h1>
<%= link_to "Back to Profile", profile_path, class: "nav-link", class: "button-main" %>
</div>
<% @bookings.each do |booking| %>
<div class="container-small-profile">
  <div class="card-small-profile">
    <div class="gradient">
    </div>
    <div class="small-profile-img">
      <% if booking.dogsitting.user.photo.attached? %>
        <img src="<%= cl_image_path booking.dogsitting.user.photo.key %>" alt="user">
      <% else %>
        <img src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt="user">
      <% end %>
    </div>
    <div class="content-small-profile">
      <div class="top">
      <h1><%= booking.dogsitting.user.first_name %> <%= booking.dogsitting.user.last_name %></h1>
      <h1><%= booking.dogsitting.user.location %></h1>
      <h1><%= booking.starts_at %> - <%= booking.ends_at %></h1>
      <h2>¥<%= booking.dogsitting.rate %>/hour</h2>
      </div>
      <div class="bottom">
      <% if booking.pending?%>
        <%= link_to "Update", edit_booking_path(booking), class: "nav-link", class: "button-main" %>
        <%= link_to "Cancel", booking_path(booking), class: "nav-link", class: "button-secondary", method: :delete %>
      <% else %>
        <div class="button-secondary"><%=booking.status%></div>
      <% end %>
      </div>
    </div>
  </div>
  </div>
<% end %>
