<div class = "container">
  <div class="card mt-3 p-5">
  <h1>Add a Booking</h1>
  <%= simple_form_for [@dogsitting, @booking] do |f| %>
    <div class="row">
      <%= f.input :starts_at, html5: true %>
    </div>
    <div class="row">
      <%= f.input :ends_at, html5: true %>
    </div>
    <div class="row">
      <%= f.submit class: 'button-main' %>
    </div>
  <% end %>
  <%= link_to "Go Back", "#", class: "mt-2 button-main" %>
  </div>
</div>
