<div class="dogsitting-requests-banner">
  <div class="container">
    <div class="search-label">
      <h1>Here are your requests</h1>
    </div>
  </div>
</div>

<!--
<% @bookings.each do |booking| %>
  <h2>Booking ID: <%= booking.id %></h2>
  <h2><%= booking.dogsitter.id %>
  <h2>Dogsitter ID: <%= booking.dogsitting_id %></h2>
  <h2>Dogsitter's First Name: <%= booking.dogsitter.first_name %></h2>
  <h2>From: <%= booking.starts_at %></h2>
  <h2>Until: <%= booking.ends_at %></h2>
  <h2><%= booking.user.id %></h2>
  <h3>(Approve) ------- (Reject)</h3>
<% end %> -->

<div class="container-dogsitting-requests">
<% @bookings.each do |booking| %>
  <div class="card-dogsitting-requests">
    <div class="gradient">
    </div>
    <div class="dogsitting-requests-img">
      <% if booking.dogsitting.user.photo.attached? %>
        <img src="<%= cl_image_path booking.dogsitting.user.photo.key %>" alt="user">
      <% else %>
        <img src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt="user">
      <% end %>
    </div>
    <div class="content-dogsitting-requests">
      <div class="top">
      <h1><%= booking.dogsitter.first_name %> <%= booking.dogsitter.last_name %></h1>
      <h1><%= booking.dogsitter.location %></h1>
      <h1><%= booking.starts_at %> - <%= booking.ends_at %></h1>
      <h1><%= booking.user.pets.first.breed %> - <%= booking.user.pets.first.name %></h1>
      <p><%= booking.user.pets.first.comments %></p>
      </div>

         <% if booking.pending?%>
         <div class ="accept-reject-container">
          <div class="accept-reject-child-left">
            <%= simple_form_for booking do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
            <%= f.submit 'Accept', class: 'nav-link', class: 'button-main' %>
            <% end %>
          </div>
          <div class="accept-reject-child-right">
            <%= simple_form_for booking do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
            <%= f.submit 'Reject', class: 'nav-link', class: 'button-main'  %>
            <% end %>
          </div>
        </div>
        <% else %>
          <div class="button-secondary"><%=booking.status.capitalize%></div>
        <% end %>

    </div>
  </div>
  <% end %>
  </div>
