<h1>Here are your Dogsitting Requests</h1>
<div class="container">
<h1><%= current_user.id %></h1>

<% @bookings.each do |booking| %>
  <h2>Booking ID: <%= booking.id %></h2>
  <h2><%= booking.user.first_name %> <%= booking.user.last_name %></h2>
  <h2>Pet Details: <%= booking.user.pet.breed %> - <%= booking.user.pet.size %></h2>
  <h2>From: <%= booking.starts_at %> Until: <%= booking.ends_at %></h2>
  <h3>(Approve) ------- (Reject)</h3>
<% end %>

</div>
